version: '3.8'

services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    restart: unless-stopped
    ports:
      - "10001:10001"  # Queue (add others if needed)
      - "10000:10000"  # Blob
      - "10002:10002"  # Table
    volumes:
      - azurite-data:/data
    

volumes:
  azurite-data: